div {
  border: 1px solid black;
  background-color: darkgrey;
  font-size: 30px;
  text-align: center;
  height: 50px;
  width: 200px;
}

#rojo {
  color: red;
}

#amarillo {
  color: yellow;
}

#verde {
  color: green;
}
